extends ../templates/main

block content

  section.main_presentation
    div.wtext
      h1 ¡Welcome to commits APP, where commits are the most important!

      a(href="/commits")
        button.btngo Go to Commits

      p.bottom_text By Fernando Madueño in May 2021.

